:focus-visible{
    outline: none;
}
:focus{
    outline: none;
}
:root{
    --main-color:#00B2FF;
    --main-color-10-op:rgba(0, 178, 256, 0.1);
    --main-color-20-op:rgba(0, 178, 256, 0.2);
    --bg-color:#F1F1F1;
    --bg-color-focused:#D9D9D9;
    --main-width:400px;
    --card-color:#FFF;
    --card-contrast-color:#000;
    --regular-font-color:#000;
    --button-deactive-text:#5A5A5A;
    --delete-main-color:#FF0606;
    --delete-main-color-5-op:rgba(256, 6, 6, 0.05);
    --animation-time:350ms;
    --amination-func:ease-out;
    --popup-background:rgba(30, 30, 30, 1);
    --popup-background-80-op:rgba(30, 30, 30, 0.8);

}
body{
    background-color: var(--bg-color);
    height:fit-content;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

section{
    margin-bottom:25px;
    width:var(--main-width);
    max-width: calc(100%-32px);
}
input {
    resize: none;
}
#comment_textarea {
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
}
.card_wrapper{
    width:calc(100% - 32px);
    background-color: var(--card-color);
    border-radius: 16px;
    padding: 16px;
}
.card_inside{
    width:100%;
    height:fit-content;
}
.card_piece{
    margin-bottom: 20px;
}
.inner_piece input{
    border: solid 1px var(--bg-color);
    border-radius: 10px;
    padding: 16px;
    width:calc(100% - 32px);
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
}
.inner_piece input:focus{
    outline: none;
    border-color: var(--main-color);
}
.inner_piece input:not(:placeholder-shown){
    border-color: var(--main-color);
}
.inner_piece input::placeholder{
    color: var(--bg-color-focused);
}
.inner_piece textarea{
    border: solid 1px var(--bg-color);
    border-radius: 10px;
    padding: 16px;
    width:calc(100% - 32px);
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
}
.inner_piece textarea:focus{
    outline: none;
    border-color: var(--main-color);
}
.inner_piece textarea:not(:placeholder-shown){
    border-color: var(--main-color);
}
.inner_piece textarea{
    color: black;
    font: 600 16px / 19px 'Inter';
}
.inner_piece textarea::placeholder{
    color: var(--bg-color-focused);
}
.card_piece:last-child{
    margin-bottom: 0px;
}
.inner_piece{
    margin-bottom: 16px;
}
.inner_piece:last-child{
    margin-bottom: 0;
}
.inner_piece > div{
    margin-bottom: 16px;
}
.inner_piece > div:last-child{
    margin-bottom: 0;
}

.card_header__text  h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: var(--regular-font-color);
    margin:2px 0;
    cursor: default;
    user-select: none
}
.card_regular__text > h3{
    font-family: "Inter";
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: var(--regular-font-color);
    margin:2px 0;
    cursor: default;
    user-select: none
}
.card_hence__text  h3{
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: var(--main-color);
    margin:2px 0;
    cursor: default;
    user-select: none
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox 
input[type=number] {
  -moz-appearance: textfield;
}*/



#bg{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    z-index: -1;
}
#bg .stripe{
    width:100px;
    background: linear-gradient(to right, rgba(255,255,255,0.05) 0%, rgba(40,40,40,0.2) 67%, rgba(255,255,255,0.05) 100%);
    opacity: 15%;
    backdrop-filter: blur(180px);
    z-index: -1;
}
#bg .stripe img{
    opacity:3%;
    width: 100%;
    height: 100%;
}

#center{
    display: flex;
    position: absolute;
    top:200px;
    width:442px;
    height:442px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -2;
    filter: blur(200px);
}





header{
    width:100%;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header_logo{
    width: 197px;
    height: 87px;
}





#avatar_box{
    width: 60px;
    height: 60px;
    margin-right: 16px;
}
#avatar_box img{
    border-radius: 50%;
}



#profile_card{
    display: flex;
    align-items: center;
}





#mydream_card{
    background-color: var(--main-color-10-op);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    width: calc(100% - 32px);
    padding: 15px;
    display: flex;
    position: relative;
    z-index: 0;
}
#mydream_card svg{
    display: flex;
    position: absolute;
    margin: -16px -24px;
    z-index: -1;
}



.card_hence__text{
    margin: 0 0 10px 0;
}

#left-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#money-box{
    background-color: var(--card-contrast-color);
    border-radius: 6px;
    padding: 6px 10px;
    cursor: default;
}
#money-box{
    font-weight: 500;
    font-family: "Inter";
}
#money-box span{
    user-select: none;
}
#money-box span:first-child{
    color:#FFF
}
#savings-box_progressbar progress{
    height: 6px;
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 999px;
}
#savings-box_progressbar progress::-moz-progress-bar {
    background-color: var(--main-color);
}
  
#savings-box_progressbar progress::-webkit-progress-bar{
    background-color: var(--bg-color);
    box-shadow: none;
    border-radius: 3px;
    border: none;
}
#savings-box_progressbar progress::-webkit-progress-value{
    background-color: var(--main-color);
    border-radius: 3px;
}
#output_price h3{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    font-family: "Inter";
    color:var(--regular-font-color);
    margin:0;
    cursor: default;
    user-select: none
}







#add_choice{
    height: 168px;
}#add_choice .option .option_box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#add_choice .option .option_price h3{
    font-size: 16px;
    user-select: none
}
#add_choice .option .option_box .option_text{
    width:72px;
}
#add_choice .option .option_box .option_info svg{
    width:20px;
    height: 20px;
    stroke: var(--main-color);
}
#add_choice .option .option_box .option_info{
    cursor: help;
    display: flex;
    position: relative;
    z-index: 10;
}

#add_choice .option .option_box .option_info svg > path{    
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
    stroke: var(--main-color);
}
#add_choice .option:hover .option_box .option_info svg > path{
    stroke: var(--card-color);
}
#add_choice .active .option_box .option_info svg > path{
    stroke: var(--card-color);
}

#add_choice .option .option_box .option_text h3{
    font-size: 16px;
    user-select: none
}


.container{
    position: relative;
    width:100%;
    height:0px;
    visibility: hidden;
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
    overflow: hidden;
    margin-top: 10px;
}



#delete_btn{
    border: none;
    display: flex;
    position: absolute;
    top:-50px;
    background-color:var(--delete-main-color-5-op);
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    visibility:hidden;
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
}
#send_btn button:not(:disabled) {
    cursor: pointer;
}
#delete_btn:focus{
    outline: none;
}
#delete_btn>h3{

    color:var(--delete-main-color);
    font:500 18px/22px "Inter";
    user-select: none
}


#fa-star:before {
    content: "\f005";
}

#star_box__container{
    padding: 16px;
    border-radius: 10px;    
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);

}
#stars {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-evenly;
    height: 30px;
}
#stars i {
    color: var(--bg-color);
    font-size: 35px;
    cursor: pointer;
    transition: 100ms;
    animation-timing-function:var(--amination-func);

}
#stars i input[type=checkbox] {
    display: none;
}
#stars i:has(input[type=checkbox][checked=true]){
    color: var(--main-color);
}









#quality_of_work{
    width:100%;
    display: flex;
    justify-content: center;

}
#quality_of_work h3{
    margin: 0;    
    color:var(--card-contrast-color);
    font:500 14px/19px "Inter";
    margin-bottom: 16px;
    user-select: none

}


#expand_menu .inner_piece{
    margin-bottom: 10px;
}


#merits{
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    justify-content: space-between;
    margin: 0;
    height:79px;
    cursor:pointer
}
#merits li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:0;
    width: fit-content;
    height:100%;
    cursor: pointer;
    width:120px;
    margin-right: 10px;
}
#merits li input{
    display: none
}
#merits li:last-child{
    margin-right: 0%;
}
#merits li .merit_title h3{
    text-align: center;
    margin: 0;
    color:var(--bg-color-focused);
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    display: inline;
}

#merits li::marker{
    display: none;
}

#merits li:has(input[type=checkbox][checked]) svg path{
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
}
#merits li:has(input[type=checkbox][checked]) .merit_title h3{
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
}
#merits li:has(input[type=checkbox][checked]) svg path{
    fill:var(--main-color)
}
#merits li:has(input[type=checkbox][checked]) .merit_title h3{
    color:var(--card-contrast-color)
}
.merit_container{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#merits .simplebar-content{
    display: flex;
}




#send_btn{
    width:100%;
    height: 50px;
}
#send_btn button{
    width:100%;
    height:100%;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--card-color);
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border:none;
}
#send_btn button:disabled{
    background-color: var(--bg-color);
    color: var(--button-deactive-text);
}





footer{
    width:100%;
    height: 66px;
}
#footer_text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_text>h3{
    font: 500 16px/19px "Inter";
    color:var(--card-contrast-color);
    user-select: none;
    cursor: default;
}
#footer_team{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
#footer_team>h3:first-child{
    font: 800 32px/39px "Inter";
    color:var(--card-contrast-color);
    margin: 0%;
    user-select: none
}
#team{
    font: 800 32px/39px "Inter";
    color: transparent;
    background-image: linear-gradient(135deg, rgba(0,178,255,1) 0%, rgba(136,255,80,1) 100%);
    background-clip: text;
    margin: 0%;
}


.popup{
    display: none;
    height:100vh;
    width:100%;
    top: 0;
}
.visible{
    display: flex;
    position: fixed;
    z-index: 100;    
}
.popup_container{
    width:100%;
    height:100%;
    background-color: var(--popup-background-80-op);
    display: flex;
    justify-content: center;
    align-items: center;
}
#success > .popup_container{
    background-color: var(--popup-background);
}
#fail > .popup_container{
    background-color: var(--popup-background);
}
.popup_content__container{
    width:368px;
    border-radius: 16px;
    background-color: var(--card-color);
    padding: 16px;
    max-height: 80%;
}

#pillow{
    height:51px;
    width:100%;
    visibility: hidden;
}

.sponsor_box{
    background-color: var(--card-contrast-color);
    border-radius: 6px;
    padding: 6px 10px;
    cursor: default;
    width:fit-content
}
.sponsor_box h3{
    margin:0;
    color:var(--card-color);
    font: 500 14px/17px "Inter"
}
.slider_container{
    width:100%;
    height:213px;
    margin-bottom: 10px
}
.slider{
    border-radius: 10px;
    border:solid 1px var(--bg-color-focused);
    height:188px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.nav_dots__container{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dot{
    border-radius: 50%;
    width:9px;
    height:9px;
    background-color: var(--bg-color);
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
}
.dot.active{
    background-color: var(--main-color);
}
#additional_details .card_piece:not(:last-child){
    margin-bottom: 30px;
}
#popup_header{
    margin-bottom: 18px;
}

#popup_header h3{
    font:600 24px 'Inter';
    color: var(--card-contrast-color);
    margin:0
}
.popup_text h3{
    font:400 14px/17px 'Inter';
    color: var(--card-contrast-color);
}
.close_popup{
    width:100%;
    height:50px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--card-color);
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border:none;
    cursor: pointer;
}
.close_popup:focus{
    outline: none;
}
#fail .popup_content__container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:200px;
}
.popup_text{
    height: 100px;
    cursor:default;
    display: flex;
    align-items: center;

}
.has_no_scroll{
    overflow: auto;
    scrollbar-width: none;
}
#fail .popup_content__container .popup_text h3{
    text-align: center;
    font:600 18px/21px 'Inter';
    margin:0
}
#close_fail_popup{
    border: none;
    background-color:var(--delete-main-color-5-op);
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--animation-time);
    animation-timing-function:var(--amination-func);
    color: var(--delete-main-color);
    font: 600 18px / 21px 'Inter';
}
#close_fail_popup:focus{
    outline: none;
}

#success .card_piece{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.name_box{
    height:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.name_box h3{
    margin:0
}
#success .avatar_box{
    margin-bottom: 16px;
}
.name h3{
    font:600 16px/18px 'Inter';
    color: var(--card-contrast-color);
}
.ocupation h3{
    font:600 14px/16px 'Inter';
    color: var(--main-color);
}
.thanks_box{
    display: flex;
    position: relative;
    overflow: auto;
    background-color: var(--main-color-10-op);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    width: calc(100% - 32px);
    padding: 15px;
    flex-direction: column;
    height: 67px;
    scrollbar-width: 0;
    z-index: 0;
}
.thanks_box svg{
    display: flex;
    position: absolute;
    top:0;
    margin: -15px;
    z-index: -1;
}
.thanks_container{
    width:85%;
    height: 65px;
    overflow: auto;
    scrollbar-width: none;
}
.thanks_title h3{
    margin:0;
    font:500 14px/17px 'Inter';
    color: var(--main-color);
}
.thanks_text h3{
    margin:0;
    font:600 16px/20px 'Inter';
    color: var(--card-contrast-color);
}
.you_sent__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.sent_title h3{
    font:600 18px/22px 'Inter';
    color: var(--card-contrast-color);
    margin: 0;
    text-align: center;
}
.sent_total h3{
    font:600 34px/41px 'Inter';
    color: var(--main-color);
    margin: 0;
    text-align: center;
}
.sent_additional{
    display: flex;
    flex-direction: row;
    gap:10px
}
.additional_block{
    border-radius: 999px;
    background-color: var(--main-color-20-op);
    padding: 6px 10px;
}
.additional_block h3{
    color: var(--main-color);
    font:500 14px/16px 'Inter';
    margin:0
}
.button_box{
    width:100%;
    display: block;
    gap:10px;
}
.button_box button{
    width:100%;
    border-radius: 10px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font:600 18px/22px 'Inter';
    border:none;
    margin-bottom: 10px;
}
.button_box button:focus{
    outline:none
}
#send_more{
    background-color: var(--main-color);
    color: var(--card-color);
}
#return{
    background-color: var(--bg-color);
    color: var(--bg-color-focused);
}
.thanks_title{
    margin-bottom: 10px;
}
@media (max-width:440px) {
    :root{
        --main-width:350px;
    }
    #mydream_card svg {
        width: 325px;
    }
}
@media (max-width:360px) {
    :root{
        --main-width:300px;
    }
    #mydream_card svg {
        width: 270px;
        margin: 0px -16px;
    }
}

.simplebar-track.simplebar-vertical{
    border-radius: 999px;
    width:4px;
    cursor: pointer;
}
.simplebar-track.simplebar-vertical{
    background-color: rgba(241, 241, 241, 1);
    border-radius: 999px;
    width:2px;
    opacity: 1;
}
.simplebar-scrollbar:before{
    background-color: var(--main-color);
    border-radius: 999px;
    width:2px;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.simplebar-content-wrapper{
    padding-right: 10px;
    padding-bottom: 10px;
}

.simplebar-track.simplebar-horizontal{
    border-radius: 999px;
    height:4px;
    cursor: pointer;
}
.simplebar-track.simplebar-horizontal{
    background-color: rgba(241, 241, 241, 1);
    border-radius: 999px;
    opacity: 1;
}
.simplebar-scrollbar:before{
    background-color: var(--main-color);
    border-radius: 999px;
    height:2px;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.simplebar-scrollbar{
    background: var(--main-color);
}